@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
h1,
p {
  font-family: 'Karla', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}
.Logo {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 1rem;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  background: rgb(96, 36, 164);
  background: linear-gradient(
    90deg,
    rgba(96, 36, 164, 1) 0%,
    rgba(163, 64, 222, 1) 71%
  );
}
.TextHeader {
  font-weight: 500;
  letter-spacing: -1px;
  padding: 0 0 0 0.5rem;
  color: white;
  font-size: 1.1rem;
}

.ButtonsContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.InputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  border-color: #d5d4d8;
  border-width: 1px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.Input-1,
.Input-2 {
  box-sizing: border-box;
  border: 2px solid #d5d4d8;
  border-radius: 4px;
  resize: none;
  flex-grow: 1;
  margin: 0 0.5rem;
}
.SubmitButton {
  margin: 0.8rem 0.5rem;
  background: rgb(96, 36, 164);
  background: linear-gradient(
    90deg,
    rgba(96, 36, 164, 1) 0%,
    rgba(163, 64, 222, 1) 71%
  );
  font-weight: 500;
  letter-spacing: -1px;
  color: white;
  font-size: 0.9rem;
}
.App {
  display: flex;
  flex-direction: column;
}
.ImageContainer {
  align-self: center;
  }
.Image{
  width: 40.5rem;
}